# Frontend
skybook-airline-frontend/node_modules/
skybook-airline-frontend/dist/

# Backend
skybook-airline-backend/target/

# IDE Files
skybook-airline-backend/.idea/
.idea/
.vscode/

# Logs
*.log

# Environment Files
.env
.env.local

# OS Files
.DS_Store
Thumbs.db